name: Dismiss code reviews from collaborators

on:
  pull_request_review:
    types: [submitted]

jobs:
  approver-vibe-check:
    name: Dismiss code reviews from collaborators
    runs-on: ubuntu-latest
    if: github.event.review.state == 'approved'
    steps:
      - name: Dismiss code reviews from collaborators
        uses: peckjon/reject-pr-approval-from-committer@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
